.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.maintitle{
	color : #ff3467;
}

.maintext{
	color : #ff3467;
}

.videoThumbnail{
	background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
	width: 250px;
	height: 250px;
}